{% extends 'layouts/profile.layout.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <a href="#">
                            <div class="statistic-box m-0">
                                <h4 class="statistic-title float-left">Пользователи</h4><!-- /.statistic-title -->
                                <div class="statistic-details">
                                    <span class="count float-left">{{ usersList }}</span><!-- /.count -->
                                    <span class="statistic-icon color-success float-right"><i class="pe-7s-users"></i></span><!-- /.statistic-icon -->
                                </div><!-- /.statistic-details -->
                            </div><!-- /.statistic-box -->
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <a href="#">
                            <div class="statistic-box m-0">
                                <h4 class="statistic-title float-left">Обменные пункты</h4><!-- /.statistic-title -->
                                <div class="statistic-details">
                                    <span class="count float-left">{{ exchangesList }}</span><!-- /.count -->
                                    <span class="statistic-icon color-primary float-right"><i class="pe-7s-ticket"></i></span>
                                    <!-- /.statistic-icon -->
                                </div><!-- /.statistic-details -->
                            </div><!-- /.statistic-box -->
                        </a>
                    </div>
                </div>
            </div><!-- /.section-content -->
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="content-head">
                    <h2>Сумма касс по всем обменным пунктам</h2><!-- /.content-title -->
                </div><!-- /.content-head -->
                <div class="content-details show">
                    <table id="data-table" class="table data-table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Наименоварие:</th>
                            <th>Сумма:</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Прибыль</th>
                                <td>{{ all_total_point }}</td>
                            </tr>
                            <tr>
                                <th>Операции</th>
                                <td>{{ all_number_of_operations }}</td>
                            </tr>
                            {% for  key , currency in all_currency %}
                                <tr>
                                    <th>{{ key }}</th>
                                    <td>{{ currency }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th colspan="2" style="text-align: center">
                                    <div class="exchanges" style="width:600px; height: 200px;margin: 0 auto;"></div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.content-details -->
            </div>
            {% for exchange in all_exchange %}
            <div class="section-content">
                <div class="content-head">
                    <h2>{{ exchange.exchange_name }}</h2><!-- /.content-title -->
                </div><!-- /.content-head -->
                <div class="content-details show">
                    <table id="data-table" class="table data-table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Наименоварие:</th>
                            <th>сумма:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Прибыль</th>
                            <td>{{ exchange.total_point }}</td>
                        </tr>
                        <tr>
                            <th>Операции</th>
                            <td>{{ exchange.numberOfOperations }}</td>
                        </tr>
                        {% for cashbox in exchange.cashboxs %}
                            <tr>
                                <th>{{ cashbox.iso }}</th>
                                <td>{{ cashbox.summa }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="2" style="text-align: center">
                                <div class="exchange-{{ exchange.exchange_id }}" style="width:600px; height: 200px;margin: 0 auto;">
                                    {#<input type="button" class="btn btn-primary" data-id="{{ exchange.exchange_id }}" value="Отчет">#}
                                </div>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- /.content-details -->
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% endblock %}

{% block Javascript %}
    {% if not is_granted('ROLE_ADMIN') %}
    <script>
        $(function () {
            $.post("{{ path('profile_index_ajax_all_exchange') }}", function (data) {
                let weekdays = [];
                let margins = [];
                $.each(data, function (weekday, margin) {
                    weekdays.push(weekday);
                    margins.push(margin);
                });
                weekdays.reverse();
                margins.reverse();

                var block_exchange = $('.exchanges');

                let containerChart = '<div class="ct-chart0 ct-perfect-fourth" ></div>';
                block_exchange.append(containerChart);

                var datas = {
                    // Массив меток, который содержит любые значения
                    labels: weekdays,
                    // Наш массив может содержать серию объектов или серии массивов с данными
                    series: [{
                        data: margins
                    }
                    ]
                };
                var options = {
                    width: 600,
                    height: 200
                };

                // Создаем объект линейного графика с первым параметров - селектором.
                // Второй параметр - объект с данными
                new Chartist.Line('.ct-chart0', datas, options);
                // block_exchange.append(containerChart)

            });
            $.post("{{ path('profile_index_ajax') }}", function (data) {

                $.each(data, function (key, value) {
                    let weekday = [];
                    let margin = [];

                    $.each(value.weekday, function (key, value) {
                        weekday.push(key);
                        margin.push(value);
                    });

                    weekday.reverse();
                    margin.reverse();
                    var block_exchange = $('.exchange-' + value.id);

                    let containerChart = '<div class="ct-chart' + value.id + ' ct-perfect-fourth" ></div>';
                    block_exchange.append(containerChart);
                    var datas = {
                        // Массив меток, который содержит любые значения
                        labels: weekday,
                        // Наш массив может содержать серию объектов или серии массивов с данными
                        series: [{
                            data: margin
                        }
                        ]
                    };
                    var options = {
                        width: 600,
                        height: 200
                    };

                    // Создаем объект линейного графика с первым параметров - селектором.
                    // Второй параметр - объект с данными
                    new Chartist.Line('.ct-chart' + value.id, datas, options);
                    // block_exchange.append(containerChart)
                });


            });
        })
    </script>
    {% endif %}
{% endblock %}