{% extends "profile.layout.html.twig" %}
{% block content %}

    <section class="content-header">
        <h1>
            Управление персоналом
            <small>Список</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OWNER') %}
                        <div class="box-header">
                            <h3 class="box-title">
                                <a href="#" class="btn btn-block btn-success btn-lg created-staff"
                                   data-toggle="modal" data-target="#add-staff">
                                    создать
                                </a>
                            </h3>
                        </div>
                    {% endif %}
                    <!-- Modal -->
                    <div class="form-staff">
                        {{ include('profile/components/forms/modal_form_staff.html.twig', {'permissionGroups':permissionGroups}) }}
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#id</th>
                                <th>Ф.И.О</th>
                                <th>Login</th>
                                <th>Должность</th>
                                <th>Дата создания</th>
                                <th>Дата изменения</th>
                                <th>Действние</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div class="new-tr-block"></div>
                            {% for staff in staffs %}
                                {{ include('profile/staff/ajax/list_block.html.twig', {'staff' : staff}) }}
                            {% else %}
                                <tr>
                                    <td>Нет данных</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}

{% block Javascript %}
    <script>
        $(document).ready(function () {

            $(".created-staff").on('click', function () {
                $( '.modal-form-staff' ).each(function(){
                    this.reset();
                });

                $(".submit-staff-btn")
                    .removeClass("submit-edit-staff-btn")
                    .addClass("submit-create-staff-btn")
                    .html("Добавить");
            });

            $(document).on('click', '.submit-create-staff-btn', function () {

              var fullname = $('#fullname').val();
              var username = $('#username').val();
              var password = $('#password').val();
              var enabled = $('#enabled').prop('checked');
              var group = $('#group').val();
              var position = $('#position').val();


              var data = {
                  fullname:fullname,
                  username:username,
                  password:password,
                  enabled:enabled,
                  group:group,
                  position:position
              };

               $( '.modal-form-staff' ).each(function(){
                   if (this.name === "enabled") {
                       data[this.name] = $(this).prop('checked');
                   } else {
                       data[this.name] = $(this).val();
                   }
               });

              $.post('{{ path('profile_staff_create_ajax') }}', data, function (response) {
                  console.log(response);
                  $('.table tbody').prepend(response.blockList);
                  $('.close').trigger('click');
                  $( '.modal-form-staff' ).each(function(){
                      this.reset();
                  });

              });
           });

            $(document).on('click', '.get-edit-data-staff', function (e) {
                e.preventDefault();

                var stafId = $(this).attr('id');

                $(".submit-staff-btn")
                    .removeClass("submit-create-staff-btn")
                    .addClass("submit-edit-staff-btn")
                    .html("Сохранить");


                $.post('{{ path('profile_staff_get_data') }}',  {stafId:stafId}, function (response) {
                    console.log(response);
                    console.log(stafId);
                    $('#fullname').val(response.data.fullname);
                    $('#username').val(response.data.username);
                    $('#group').val(response.data.group);
                    $('#position').val(response.data.position);
                    $('#enabled').prop(response.data.enabled);
                    $('#staf_id').val(stafId);

                });
                console.log(stafId);

            });

            $(document).on('click', '.submit-edit-staff-btn', function () {

                var fullname = $('#fullname').val();
                var username = $('#username').val();
                var password = $('#password').val();
                var enabled = $('#enabled').prop('checked');
                var group = $('#group').val();
                var position = $('#position').val();
                var stafId = $('#staf_id').val();
                var $rowStaff = $(".row-staff-"+stafId);

                var data = {
                    fullname:fullname,
                    username:username,
                    password:password,
                    enabled:enabled,
                    group:group,
                    position:position,
                    stafId:stafId
                };

                console.log(data);

                $.post('{{ path('profile_staff_edit_ajax') }}', data, function (response) {
                    console.log(response);

                    $rowStaff.find(".staff-fullName").html(fullname);
                    $rowStaff.find(".staff-username").html(username);
                    $rowStaff.find(".staff-position").html(position);
                    $rowStaff.find(".staff-updatedAt").html(response.updatedAt);

                    $('.close').trigger('click');
                    $( '.modal-form-staff' ).each(function(){
                        this.reset();
                    });

                });
            });


        });



    </script>

{% endblock %}