{% extends "layouts/profile.layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Управление персоналом</h4><!-- /.content-title -->
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OWNER') %}
                        <div class="float-right">
                            <a href="#" class="btn btn-success created-staff" data-toggle="modal" data-target="#add-staff">
                                <i class="fa fa-plus-square"></i> создать
                            </a>
                        </div><!-- /.corner-content -->
                        <div class="clearfix"></div>
                    {% endif %}
                </div><!-- /.content-head -->
                <div class="content-details show">
                    <table id="data-table" class="table data-table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>#id</th>
                            <th>Ф.И.О</th>
                            <th>Логин</th>
                            <th>Должность</th>
                            <th>Дата создания</th>
                            <th>Дата изменения</th>
                            <th>Действние</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div class="new-tr-block"></div>
                        {% for staff in staffs %}
                            {{ include('profile/staff/ajax/list_block.html.twig', {'staff' : staff}) }}
                        {% else %}
                            <tr>
                                <td>Нет данных</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div><!-- /.content-details -->
            </div>
        </div>

    </div>
    <!-- Modal -->
    <div class="form-staff">
        {{ include('profile/components/forms/modal_form_staff.html.twig', {'permissionGroups':permissionGroups}) }}
    </div>
{% endblock %}

{% block Javascript %}
    <script>
        $(document).ready(function () {

           let $modalFormStaff = $('.modal-form-staff');
           let $submitStaffBtn = $(".submit-staff-btn");

            $(".created-staff").on('click', function () {
                $modalFormStaff.each(function(){
                    this.reset();
                });

                $submitStaffBtn.removeClass("submit-edit-staff-btn")
                    .addClass("submit-create-staff-btn")
                    .html("Добавить");
            });

            $(document).on('click', '.submit-create-staff-btn', function () {

                let $formFields = $modalFormStaff.find("input, select, textarea");
                let data = {};

                $formFields.each(function(){
                    if (this.name === "enabled") {
                        data[this.name] = $(this).prop('checked');
                    } else {
                        data[this.name] = $(this).val();
                    }
                });

                $.post('{{ path('profile_staff_create_ajax') }}', data, function (response) {
                    console.log(response);
                    $('.table tbody').prepend(response.blockList);
                    $('.close').trigger('click');

                    $modalFormStaff.each(function(){
                        this.reset();
                    });

                });
            });

            $(document).on('click', '.get-edit-data-staff', function (e) {
                e.preventDefault();

                let stafId = $(this).attr('id');
                let $formFields = $modalFormStaff.find("input, select, textarea");

                $(".submit-staff-btn")
                    .removeClass("submit-create-staff-btn")
                    .addClass("submit-edit-staff-btn")
                    .html("Сохранить");


                $.post('{{ path('profile_staff_get_data') }}',  {stafId}, function (response) {

                    $formFields.each(function(){
                        if (this.name === "enabled") {
                            $(this).prop('checked', response.data[this.name]);
                        } else if (this.name === "group") {
                            $(this).find("option[value="+response.data[this.name]+"]").attr("selected", true);
                        } else {
                            $(this).val(response.data[this.name]);
                        }
                    });

                });
                console.log(stafId);

            });

            $(document).on('click', '.submit-edit-staff-btn', function () {

                var fullname = $('#fullname').val();
                var username = $('#username').val();
                var password = $('#password').val();
                var enabled = $('#enabled').prop('checked');
                var group = $('#group').val();
                var position = $('#position').val();
                var stafId = $('#staf_id').val();
                var $rowStaff = $(".row-staff-"+stafId);

                var data = {
                    fullname:fullname,
                    username:username,
                    password:password,
                    enabled:enabled,
                    group:group,
                    position:position,
                    stafId:stafId
                };

                console.log(data);

                $.post('{{ path('profile_staff_edit_ajax') }}', data, function (response) {

                    $rowStaff.find(".staff-fullName").html(fullname);
                    $rowStaff.find(".staff-username").html(username);
                    $rowStaff.find(".staff-position").html(position);
                    $rowStaff.find(".staff-updatedAt").html(response.updatedAt);

                    $('.close').trigger('click');
                    $( '.modal-form-staff' ).each(function(){
                        this.reset();
                    });

                });
            });


        });


    </script>

{% endblock %}