{% extends "layouts/profile.layout.html.twig" %}
{% block stylesheet %}
<style>
    .form-check-input {
        margin-top: 0;
        margin-left: 0;
    }
</style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Добавления новой Группы привилегий</h4><!-- /.content-title -->
                </div><!-- /.content-head -->
                <div class="content-details show">
                    {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.alias) }}
                    <h3>Список пиривилегий</h3>
                    {{ form_row(form.create_personal, {'attr' : {
                        'class' : 'minimal'
                    }}) }}
                    {{ form_row(form.edit_personal, {'attr' : {
                        'class' : 'minimal'
                    }}) }}
                    {{ form_row(form.view_personal, {'attr' : {
                        'class' : 'minimal'
                    }}) }}
                    <hr>
                    {{ form_row(form.save, {'label' : 'Добавить', 'attr' : {
                        'class' : 'btn btn-primary btn-lg'
                    }}) }}
                    {{ form_end(form) }}
                </div><!-- /.content-details -->
            </div>
        </div>
    </div>
{% endblock %}