{% extends "profile.layout.html.twig" %}
{% block content %}

    <section class="content-header">
        <h1>
            Группы привелегий
            <small>Список</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OWNER') %}
                        <div class="box-header">
                            <h3 class="box-title">
                                <a href="{{ path('profile_permission_group_create') }}" class="btn btn-block btn-success btn-lg">
                                    Добавить
                                </a>
                            </h3>
                        </div>
                    {% endif %}
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#id</th>
                                <th>Наименование</th>
                                <th>Альяс</th>
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OWNER') %}
                                    <th>Действние</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for permissionGroup in permissionGroups %}
                                <tr>
                                    <td>{{ permissionGroup.id }}</td>
                                    <td>{{ permissionGroup.title }}</td>
                                    <td>{{ permissionGroup.alias }}</td>
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OWNER') %}
                                    <td>
                                        <a href="#" class="btn btn-default"  title="Просмотреть запись {{ permissionGroup.title }}">Просмотр <i class="fa fa-fw fa-eye"></i></a>
                                        <a href="{{ path('profile_permission_group_edit', {'id' : permissionGroup.id }) }}" class="btn btn-primary" title="Редактировать запись {{ permissionGroup.title }}"> Редактировать <i class="fa fa-fw fa-pencil"></i></a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td>Нет данных</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>


{% endblock %}