{% extends 'base.layout.html.twig' %}

{% block title %}EXCHANGE-CRM{% endblock %}

{% block body %}
    {% block header %}{{ parent() }}{% endblock %}
    <div class="container">

        <div class="row">
            <img class="col-sm-4" style="max-width: 100%" src="{{ asset('img/3.jpg') }}">
            <p class="col-sm-4" style="text-align:center; margin-top: 100px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur at blanditiis, delectus facere iste nam nemo omnis quis ratione. Dicta ducimus error ex itaque optio perferendis quia repudiandae? A accusamus assumenda at aut debitis deleniti dolorum et facere fugiat illo inventore ipsa laboriosam minima mollitia nam nemo nisi nobis nulla odit omnis optio possimus provident quas quia quidem quis quisquam ratione rem repellat repellendus reprehenderit sint, tempore totam ullam ut veritatis voluptatum. Aliquam asperiores assumenda delectus iure perspiciatis possimus provident suscipit temporibus tenetur voluptas. Eveniet fugiat illo, incidunt laboriosam laudantium libero magni modi, molestias nisi optio provident quo ut!
            </p>
        </div>

        <div class="about">
            <div class="container">
                <h1>Наши главные принципы</h1>
                <div class="row">
                    <div class="col-sm">
                        <div>
                            <i class="fas fa-lock"></i>
                            <div class="card-body">
                                <h4 >Безопасность</h4>
                                <p>Здесь описание того насколько мы заботимся о безопасности наших пользователей и тд.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div>
                            <i class="fas fa-thumbs-up"></i>
                            <div class="card-body">
                                <h4>Удобство</h4>
                                <p>Здесь мы рассказываем об удобстве эксплуатации нашего софта и тд.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div>
                            <i class="fas fa-cogs"></i>
                            <div class="card-body">
                                <h4 >Функциональность</h4>
                                <p >Здесь мы говорим насколько функционален наш продукт и тд.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p class="col-sm-4" style="text-align:center; padding: 30px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur at blanditiis, delectus facere iste nam nemo omnis quis ratione. Dicta ducimus error ex itaque optio perferendis quia repudiandae? A accusamus assumenda at aut debitis deleniti dolorum et facere fugiat illo inventore ipsa laboriosam minima mollitia nam nemo nisi nobis nulla odit omnis optio possimus provident quas quia quidem quis quisquam ratione rem repellat repellendus reprehenderit sint, tempore totam ullam ut veritatis voluptatum. Aliquam asperiores assumenda delectus iure perspiciatis possimus provident suscipit temporibus tenetur voluptas. Eveniet fugiat illo, incidunt laboriosam laudantium libero magni modi, molestias nisi optio provident quo ut!
            </p>
            <img class="col-sm-4" style="max-width: 100%" src="{{ asset('img/2.jpg') }}">
        </div>

        <div class="tryForFree">
            <div class="card">
                <div class="card-header">
                    <H2 STYLE="text-align: center;">Попробуйте прямо сейчас бесплатный Demo-аккаунт</H2>
                </div>
                <div class="card-body">
                    <img src="{{ asset("img/5.svg") }}" alt="">
                    <a href="{{ path('fos_user_registration_register') }}" class="nav-link btn btn-outline-warning">Зарегистрироваться</a>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
        {% block footer %}{{ parent() }}{% endblock %}
    </div>
{% endblock %}
