<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Личный кабинет</title>
    <meta name="description" content="Hi5Dash - HTML5 Admin Template By Jewel Theme">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Import Template Icons CSS Files -->
    <link rel="stylesheet" href="{{ asset('profile/assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('profile/assets/css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('profile/assets/css/linea-basic.css') }}">
    <link rel="stylesheet" href="{{ asset('profile/assets/css/pe-icon-7-stroke.css') }}">

    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <!-- Import Custom Country Select CSS Files -->
    <link rel="stylesheet" href="{{ asset('profile/assets/css/countrySelect.min.css') }}">

    <!-- Import Perfect ScrollBar CSS Files -->
    <link rel="stylesheet" href="{{ asset('profile/assets/css/perfect-scrollbar.css') }}">

    <!-- Import Bootstrap CSS File -->

    <link rel="stylesheet" href="{{ asset('profile/assets/css/bootstrap.min.css') }}">

    <!-- Import Owl Carousel CSS File -->

    <link rel="stylesheet" href="{{ asset('profile/assets/css/owl.carousel.min.css') }}">

    <!-- Import Template's CSS Files -->
    <link rel="stylesheet" href="{{ asset('profile/assets/css/presets.css') }}">
    <link rel="stylesheet" href="{{ asset('profile/assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('profile/assets/css/index-01.css') }}">
    <link rel="stylesheet" href="{{ asset('profile/assets/css/tables/tables.css') }}">
    <link rel="stylesheet" href="{{ asset('profile/assets/css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('profile/assets/fastselect/fastselect.min.css') }}">

    <style>
        .content-wrapper .dashboard-contents .contents-inner {
            min-height: 95vh;
            padding: 15px;
        }
        .box-header {
            margin-bottom: 20px;
        }
    </style>

    {% block stylesheet %}{% endblock %}



</head>


<body class="index-01">
{% block header %}
    {{ include('profile/components/header.html.twig') }}
{% endblock %}

<div class="content-wrapper container-fluid">

    {% block left_panel %}
        {{ include('profile/components/left_panel.html.twig') }}
    {% endblock %}

    <div class="dashboard-contents">
        <div class="contents-inner">
            {% block content %}{% endblock %}
        </div><!-- /.contents-inner -->

        {% block footer %}
            {{ include('profile/components/footer.html.twig') }}
        {% endblock %}
    </div><!-- /.dashboard-contents -->
</div><!-- /.content-wrapper -->



<script src="{{ asset('profile/assets/js/jquery-3.2.1.slim.min.js') }}"></script>
<script src="{{ asset('profile/assets/js/plugins.js') }}"></script>
<script src="{{ asset('profile/assets/js/main.js') }}"></script>
<script src="{{ asset('profile/assets/fastselect/fastselect.standalone.min.js') }}"></script>
{% block Javascript %}{% endblock %}
</body>
</html>