<!-- Main content -->
<section class="content money_operation">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered">
                        {#<thead>#}
                        <tr>
                            <th colspan="3">Валюта</th>
                            <th colspan="2" class="purchase">Покупка</th>
                            <th colspan="2" class="sale">Продажа</th>
                            <th colspan="2" class="currency">Нац. валюта <img style="width: 50px; height: 25px"
                                                                              src="{{ asset('uploads/images/currency/') }}{{ defaultCurrency.currency.icon }}">
                            </th>
                        </tr>
                        <tr>
                            <th>Остаток</th>
                            <th>Название</th>
                            <th>Флаг</th>
                            <th class="purchase">Курс</th>
                            <th class="purchase">Сумма</th>
                            <th class="sale">Курс</th>
                            <th class="sale">Сумма</th>
                            <th class="currency">Скидка</th>
                            <th class="currency">Сумма</th>
                        </tr>
                        {#</thead>#}
                        <tbody>
                        {% for cashbox in cashboxes %}

                            {% if not cashbox.default_currency %}
                                <tr class="cashbox-row cashbox-number-{{ cashbox.id }}">
                                    <td class="cashbox-allAmount">
                                        {{ cashbox.summa }}
                                    </td>
                                    <td>
                                        {{ cashbox.name }}
                                    </td>
                                    <td>
                                        <img style="width: 50px; height: 25px"
                                             src="{{ asset('uploads/images/currency/') }}{{ cashbox.icon }}">
                                    </td>
                                    <td class="purchase">
                                        <input type="text"
                                               class="cashbox-currency cashbox-purchase"
                                               value="{{ cashbox.purchase }}"
                                               data-cashbox-id="{{ cashbox.id }}"
                                               data-cashbox-action="purchase"
                                        >
                                    </td>
                                    <td class="purchase">
                                        <input type="number"
                                               class="cashbox-form"
                                               data-cashbox-id="{{ cashbox.id }}"
                                               data-cashbox-action="purchase"
                                        >
                                    </td>
                                    <td class="sale">
                                        <input type="text"
                                               class="cashbox-currency cashbox-sale"
                                               value="{{ cashbox.sale }}"
                                               data-cashbox-id="{{ cashbox.id }}"
                                               data-cashbox-action="sale"
                                        >
                                    </td>
                                    <td class="sale">
                                        <input type="number"
                                               class="cashbox-form"
                                               data-cashbox-id="{{ cashbox.id }}"
                                               data-cashbox-action="sale"
                                        >
                                    </td>
                                    <td class="currency discount">
                                        <input
                                                type="text"
                                                id="amount-{{ cashbox.id }}"
                                                class="discount-form"
                                                data-discount-cashbox-id="{{ cashbox.id }}"

                                        >
                                        <button data-active="1"
                                                class="btn btn-default btn_discount discount_active activeBtn-{{ cashbox.id }}">%
                                        </button>
                                    </td>
                                    <td class="currency">
                                        <input class="form-result" type="text" disabled>
                                    </td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td>Нет данных</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <tr>
                            <td></td>
                            <th>Обменный пункт:</th>
                            <td>{{ exchangeOffice.name }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <th>Сотрудник:</th>
                            <td>{{ app.user.email }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <th><img style="width: 50px; height: 25px"
                                     src="{{ asset('uploads/images/currency/') }}{{ defaultCurrency.currency.icon }}">
                                Остаток Нац. валюты:
                            </th>
                            <td class="DefaultCurrency"
                                id="resultDefaultCurrencyAmount">{{ defaultCurrencyAmount.summa }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <th>VIP клиенты:</th>
                            <td>
                                <select id="vip_client_id">
                                    <option value="">Выбрать клиента</option>
                                    {% for vipClient in vipClients %}
                                        <option value="{{ vipClient.id }}">{{ vipClient.fullName }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <th>Примечание:</th>
                            <td><textarea id="notes"></textarea></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <th colspan="2">
                                <div class="box-message"></div>
                                <a href="#" class="btn btn-success save-transactions" data-cashbox-action="">
                                    Сохранить
                                </a>
                            </th>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>