{% extends "profile.layout.html.twig" %}

{% block stylesheet %}

    <style>
        .box-body tr th,td {
            text-align: center;
        }

        .box-body tr td input {
            width: 100px;
            padding: 2px 2px;
            font-weight: bold;
        }
        table tr {
            font-size: 18px;
        }
        table tr td.active-cashbox input {
            border: 1px solid #a96d0e;
            background: #b7760d;
        }
        textarea {
            width: 100%;
        }
        .active-cashbox {
            background: rgb(223, 138, 12);
            color: white;
        }

        .active-cashbox td {
            border-right: 1px solid #df8a0b !important;
        }
        .active-cashbox td input {
            background: #ad6d0d;
            border: 1px solid #df8a0b !important;
        }
    </style>

{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            Баланс касс
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered">
                            <thead>
                            <tr>
                                <th colspan="3">Валюта</th>
                                <th colspan="2" class="purchase">Действие</th>
                            </tr>
                            <tr>
                                <th>Остаток</th>
                                <th>Название</th>
                                <th>Флаг</th>
                                <th>Сумма</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cashbox in cashboxs %}
                                <tr class="cashbox-row cashbox-number-{{ cashbox.id }}">
                                    <td class="cashbox-allAmount">
                                        {{ cashbox.summa }}
                                    </td>
                                    <td>
                                        {{ cashbox.name }}
                                    </td>
                                    <td>
                                        <img style="width: 50px; height: 25px" src="{{ asset('uploads/images/currency/') }}{{ cashbox.icon }}">
                                    </td>
                                    <td>
                                        <input type="number"
                                               class="cashbox-amount"
                                               data-cashbox-id="{{ cashbox.id }}"
                                               step="any"
                                        >
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>Нет данных</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <tr>
                                <td></td>
                                <th>Обменный пункт:</th>
                                <td>{{ exchangeOffice.name }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <th>Сотрудник:</th>
                                <td>{{ app.user.email }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <th>Тип операции:</th>
                                <td>
                                    <select id="type_transaction" >
                                        <option value="replenishment">Пополнение</option>
                                        <option value="write_off">Списание</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <th>Примечание:</th>
                                <td><textarea id="notes"></textarea></td>
                            </tr>
                            <tr>
                                <td></td>
                                <th colspan="2">
                                    <div class="box-message"></div>
                                    <a href="#" class="btn btn-success save-transactions" data-cashbox-id="0" data-cashbox-action="">
                                        Сохранить
                                    </a>
                                </th>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>


{% endblock %}

{% block Javascript %}

    <script type="text/javascript">

        $(function () {

            var cashboxAmount = $(".cashbox-amount");
            cashboxAmount.on("keyup", function () {
                operations(this);
            });

            cashboxAmount.on("change", function () {
                operations(this);
            });

            function operations(object) {
                var cashboxId = $(object).data("cashbox-id");
                var cashboxAmount = $(object).val();

                if (cashboxAmount < 0) {
                    cashboxAmount = 0;
                }

                $(".save-transactions").data("cashbox-id", cashboxId);

                $(".cashbox-row").removeClass("active-cashbox");
                $(".cashbox-amount").val("");
                $(object).val(cashboxAmount);
                $(".cashbox-number-"+cashboxId).addClass("active-cashbox");
            }
        });

        $(".save-transactions").on("click", function (e) {
            e.preventDefault();
            var cashboxId = $(this).data("cashbox-id");
            var cashboxNumberClass = ".cashbox-number-"+cashboxId;
            var amount = $(cashboxNumberClass+" .cashbox-amount").val();
            var exchange_office_id = "{{ exchangeOffice.id }}";
            var $btnSaveTransactions = $(this);
            var type_transaction = $("#type_transaction").val();
            var notes = $("#notes").val();
            var $boxMessage = $(".box-message");

            var data = {
                cashboxId,
                amount,
                exchange_office_id,
                type_transaction,
                notes,
            };

            $.post("{{ path('profile_monetary_operations_balance_change') }}", data)
                .done(function (response) {
                    console.log(response);

                    if (response.status) {
                        $(".cashbox-amount").val("");
                        $(".cashbox-row").removeClass("active-cashbox");
                        $boxMessage.html('<p class="bg-success">'+response.message+'</p>');
                        $btnSaveTransactions.data("cashbox-id", 0);
                        $(cashboxNumberClass+" .cashbox-allAmount").html(response.resultAmount);
                    } else  {
                        $boxMessage.html('<p class="bg-danger">'+response.message+'</p>');
                    }
                })
                .fail(function (response) {
                    console.log(response);
                });
        });

    </script>
{% endblock %}