{% extends "profile.layout.html.twig" %}

{% block stylesheet %}
    <style>
        .fstControls, .fstResults, .fstSingleMode {
            font-size: 10px;
        }
    </style>
{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            История транзакций
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="filter" style="margin-bottom: 2rem;">
                            <h4>Настройте фильтр для поиска записей транзакций</h4>
                            <form action="{{ path('profile_monetary_operations_history') }}" method="get"
                                  class="form-inline" id="filter-form">

                                <div class="form-group">
                                    <select name="exchangeOffices" id="exchangeOffices"
                                            multiple>
                                        {% for exchangeOffice in exchangeOffices %}
                                            <option value="{{ exchangeOffice.id }}"
                                                    {% if filter.exchangeOffices is defined %}
                                                        {{ (exchangeOffice.id in filter.exchangeOffices) ? 'selected' }}
                                                    {% endif %}>
                                                {{ exchangeOffice.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select name="currencies" id="currencies" multiple>
                                        {% for currency in currencies %}
                                            <option value="{{ currency.id }}"
                                                    {% if filter.currencies is defined %}
                                                        {{ (currency.id in filter.currencies) ? 'selected' }}
                                                    {% endif %}>
                                                {{ currency.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select name="transactionTypes"
                                            id="transactionTypes" multiple>
                                        <option value="cashboxTo"
                                                {% if filter.transactionTypes is defined %}
                                                    {{ ('cashboxTo' in filter.transactionTypes) ? 'selected' }}
                                                {% endif %}>
                                            Пополнение</option>
                                        <option value="cashboxFrom"
                                                {% if filter.transactionTypes is defined %}
                                                    {{ ('cashboxFrom' in filter.transactionTypes) ? 'selected' }}
                                                {% endif %}>
                                            Снятие</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select name="operators" id="operators" multiple>
                                        {% for staff in staffs %}
                                            <option value="{{ staff.id }}"
                                                    {% if filter.staffs is defined %}
                                                        {{ (staff.id in filter.staffs) ? 'selected' }}
                                                    {% endif %}>
                                                {{ staff.user.fullname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Обменный пункт</th>
                                <th>Валюта</th>
                                <th>Тип операции</th>
                                <th>Оператор</th>
                                <th>Сумма, сом.</th>
                                <th>Дата</th>
                                <th>Комментарий</th>
                            </tr>
                            </thead>
                            <tbody id="historyBlockList">
                            {{ blockList|raw }}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>


{% endblock %}

{% block Javascript %}

    <script>
        $(function () {

            $('#exchangeOffices').fastselect({placeholder: 'Обменные пункты', noResultsText: 'Нет данных'});
            $('#currencies').fastselect({placeholder: 'Валюты', noResultsText: 'Нет данных'});
            $('#transactionTypes').fastselect({placeholder: 'Тип операции', noResultsText: 'Нет данных'});
            $('#operators').fastselect({placeholder: 'Операторы', noResultsText: 'Нет данных'});

            $('#exchangeOffices, #currencies, #transactionTypes, #operators').on('change', function () {
                let data = {};
                $.each($('#filter-form').find(':input, select'), function () {
                    if ($(this).is(':checkbox')) {
                        data[this.name] = !!$(this).is(':checked');
                    } else {
                        data[this.name] = $(this).val();
                    }
                });

                $.get('{{ path('profile_monetary_operations_history_ajax') }}', data, function (response) {
                    history.pushState(null, null, '{{ path('profile_monetary_operations_history') }}' + '?' + $.param(data));
                    let historyBlockList = $('#historyBlockList');
                    historyBlockList.empty();
                    historyBlockList.append(response.blockList);

                });
            });

            $(window).on('popstate', function (e) {
                window.location.replace(e.currentTarget.location.href);
            });

        });
    </script>

{% endblock %}