{% extends "profile.layout.html.twig" %}

{% block stylesheet %}

    <style>
        .box-body tr th,td {
            text-align: center;
        }

        td.sale, th.sale, td.sale input {
            background: #4cd0936b;
        }

        td.purchase, th.purchase , td.purchase input{
            background: #0087a94d;
        }
        td.currency, th.currency, td.currency input  {
            background: #e9fb1e8c;
        }
        .box-body tr td input {
            width: 100px;
            border: 1px solid #5cb599;
            padding: 2px 2px;
            font-weight: bold;
        }
        table tr {
            font-size: 18px;
        }
        table tr td.active-cashbox {
            background: #f39c12 !important;
            color: white;
            border-right: 1px solid #f39c11;
            border-top: 3px solid #ce8510;
            border-bottom: 3px solid #ce8510;
        }

        table tr td.active-cashbox input {
            border: 1px solid #a96d0e;
            background: #b7760d;
        }
        textarea {
            width: 100%;
        }
        .discount input {
            float: left;
            border-right: none !important;
        }
        .discount input + button{
            background: white;
            padding: 6px 15px;
            cursor: pointer;
            margin: 0 !important;
            display: list-item;
            border-radius: 0;
            border: 1px solid #dadada;
        }
        .DefaultCurrency {
            color: #55840b;
            font-weight: bold;
            font-size: 24px;
        }
    </style>

{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            Покупка и продажа валют
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered">
                            <thead>
                            <tr>
                                <th colspan="3">Валюта</th>
                                <th colspan="2" class="purchase">Покупка</th>
                                <th colspan="2" class="sale">Продажа</th>
                                <th colspan="2" class="currency">Нац. валюта <img style="width: 50px; height: 25px" src="{{ asset('uploads/images/currency/') }}{{ defaultCurrency.currency.icon }}"></th>
                            </tr>
                            <tr>
                                <th>Остаток</th>
                                <th>Название</th>
                                <th>Флаг</th>
                                <th class="purchase">Курс</th>
                                <th class="purchase">Сумма</th>
                                <th class="sale">Курс</th>
                                <th class="sale">Сумма</th>
                                <th class="currency">Скидка</th>
                                <th class="currency">Сумма</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cashbox in cashboxs %}

                                {% if not cashbox.default_currency %}
                                    <tr class="cashbox-row cashbox-number-{{ cashbox.id }}">
                                        <td class="cashbox-allAmount">
                                            {{ cashbox.summa }}
                                        </td>
                                        <td>
                                            {{ cashbox.name }}
                                        </td>
                                        <td>
                                            <img style="width: 50px; height: 25px" src="{{ asset('uploads/images/currency/') }}{{ cashbox.icon }}">
                                        </td>
                                        <td class="purchase">
                                            <input type="text"
                                                   class="cashbox-currency cashbox-purchase"
                                                   value="{{ cashbox.purchase }}"
                                                   data-cashbox-id="{{ cashbox.id }}"
                                                   data-cashbox-action="purchase"
                                            >
                                        </td>
                                        <td class="purchase">
                                            <input type="number"
                                                   class="cashbox-form"
                                                   data-cashbox-id="{{ cashbox.id }}"
                                                   data-cashbox-action="purchase"
                                            >
                                        </td>
                                        <td class="sale">
                                            <input type="text"
                                                   class="cashbox-currency cashbox-sale"
                                                   value="{{ cashbox.sale }}"
                                                   data-cashbox-id="{{ cashbox.id }}"
                                                   data-cashbox-action="sale"
                                            >
                                        </td>
                                        <td class="sale">
                                            <input type="number"
                                                   class="cashbox-form"
                                                   data-cashbox-id="{{ cashbox.id }}"
                                                   data-cashbox-action="sale"
                                            >
                                        </td>
                                        <td class="currency discount">
                                            <input
                                                    type="text"
                                                    class="discount-form"
                                                    data-cashbox-id="{{ cashbox.id }}"
                                            >
                                            <button class="btn btn-default" id="basic-addon2">%</button>
                                        </td>
                                        <td class="currency">
                                            <input class="form-result" type="text" disabled>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% else %}
                                <tr>
                                    <td>Нет данных</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <tr>
                                <td></td>
                                <th>Обменный пункт:</th>
                                <td>{{ exchangeOffice.name }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <th>Сотрудник:</th>
                                <td>{{ app.user.email }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <th><img style="width: 50px; height: 25px" src="{{ asset('uploads/images/currency/') }}{{ defaultCurrency.currency.icon }}"> Остаток Нац. валюты:</th>
                                <td class="DefaultCurrency" id="resultDefaultCurrencyAmount">{{ defaultCurrencyAmount.summa }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <th>VIP клиенты:</th>
                                <td>
                                    <select id="vip_client_id" >
                                        <option value="">Выбрать клиента</option>
                                        {% for vipClient in vipClients %}
                                            <option value="{{ vipClient.id }}">{{ vipClient.fullName }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <th>Примечание:</th>
                                <td><textarea id="notes"></textarea></td>
                            </tr>
                            <tr>
                                <td></td>
                                <th colspan="2">
                                    <div class="box-message"></div>
                                    <a href="#" class="btn btn-success save-transactions" data-cashbox-id="0" data-cashbox-action="">
                                        Сохранить
                                    </a>
                                </th>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>


{% endblock %}

{% block Javascript %}

<script type="text/javascript">


    $(function () {

        $(".save-transactions").on("click", function (e) {
            e.preventDefault();

            var currency, national_currency, amount,data;
            var cashboxId = $(this).data("cashbox-id");
            var cashboxAction = $(this).data("cashbox-action");
            var cashboxNumberClass = ".cashbox-number-"+cashboxId;
            var vip_client_id = $("#vip_client_id").val();
            var notes = $("#notes").val();
            var exchange_office_id = "{{ exchangeOffice.id }}";
            var $boxMessage = $(".box-message");
            var $btnSaveTransactions = $(".save-transactions");

            if (cashboxAction === "sale") {
                currency = $(cashboxNumberClass+" .cashbox-sale").val();
                amount = $(cashboxNumberClass+" .sale .cashbox-form").val();
            } else if(cashboxAction === "purchase") {
                currency = $(cashboxNumberClass+" .cashbox-purchase").val();
                amount = $(cashboxNumberClass+" .purchase .cashbox-form").val();
            }

            national_currency = currency * amount;

            data = {
                cashboxId,
                cashboxAction,
                currency,
                amount,
                national_currency,
                exchange_office_id,
                vip_client_id,
                notes,
            };

            $.post("{{ path('profile_monetary_operations_create') }}", data)
                .done(function (response) {
                    console.log(response);

                    if (response.status) {
                        $(".cashbox-form").val("");
                        $(".form-result").val("");
                        $(".cashbox-row td").removeClass("active-cashbox");
                        $boxMessage.html('<p class="bg-success">'+response.message+'</p>');
                        $btnSaveTransactions.data("cashbox-id", 0);
                        $btnSaveTransactions.data("cashbox-action", "");
                        $(cashboxNumberClass+" .cashbox-allAmount").html(response.allAmount);
                        $("#resultDefaultCurrencyAmount").html(response.resultDefaultCurrencyAmount);
                    } else  {
                        $boxMessage.html('<p class="bg-danger">'+response.message+'</p>');
                    }

                })
                .fail(function (response) {
                    console.log(response);
                });

        });

        $(".cashbox-form").on("keyup", function () {

            var cashboxAction = $(this).data("cashbox-action");
            var cashboxId = $(this).data("cashbox-id");
            var currency,result;
            var amount = $(this).val();
            var $btnSaveTransactions = $(".save-transactions");
            var cashboxNumberClass = ".cashbox-number-"+cashboxId;
            var $boxMessage = $(".box-message");

            $boxMessage.html("");
            $(".cashbox-form").val("");
            $(".form-result").val("");
            $btnSaveTransactions.data("cashbox-id", cashboxId);
            $btnSaveTransactions.data("cashbox-action", cashboxAction);

            $(".cashbox-row td").removeClass("active-cashbox");
            $(cashboxNumberClass+" td").addClass("active-cashbox");

            $(this).val(amount);

            if (cashboxAction === "sale") {
                $(".cashbox-row td.purchase").removeClass("active-cashbox");
                currency = $(".cashbox-number-"+cashboxId+" .cashbox-sale").val();
            } else if(cashboxAction === "purchase") {
                $(".cashbox-row td.sale").removeClass("active-cashbox");
                currency = $(".cashbox-number-"+cashboxId+" .cashbox-purchase").val();
            }

            result = currency * amount;

            $(cashboxNumberClass+" .form-result").val(result);
        });

        $(".cashbox-currency").on("keyup", function () {
            var amount,result;
            var cashboxAction = $(this).data("cashbox-action");
            var currency = $(this).val();
            var cashboxId = $(this).data("cashbox-id");
            var cashboxNumberClass = ".cashbox-number-"+cashboxId;

            if (cashboxAction === "sale") {
                amount = $(cashboxNumberClass+" .sale .cashbox-form").val();
            } else if(cashboxAction === "purchase") {
                amount = $(cashboxNumberClass+" .purchase .cashbox-form").val();
            }

            if (amount > 0) {
                result = currency * amount;
                $(cashboxNumberClass+" .form-result").val(result);
            }

        });
    });

</script>
{% endblock %}