{% extends "layouts/profile.layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Добавлениe новой валюты</h4><!-- /.content-title -->
                </div><!-- /.content-head -->
                <div class="content-details show">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.imageFile) }}
                    {{ form_row(form.iso) }}
                    {{ form_row(form.symbolDesignation) }}
                    {{ form_row(form.decimals) }}
                    {{ form_row(form.decimalSeparator) }}
                    {{ form_row(form.thousandSeparator) }}
                    <hr>
                    {{ form_row(form.save, {'label' : 'Добавить', 'attr' : {
                        'class' : 'btn btn-primary btn-lg'
                    }}) }}
                    {{ form_end(form) }}
                </div><!-- /.content-details -->
            </div>
        </div>
    </div>
{% endblock %}