{% extends "layouts/profile.layout.html.twig" %}

{% block stylesheet %}
    <style>
        .custom-file-input {
            opacity: 1;
        }
        .form-control {
            margin-bottom: 15px !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Добавлениe новой валюты</h4><!-- /.content-title -->
                </div><!-- /.content-head -->
                <div class="content-details show">
                    {{ form_start(form) }}
                    {{ form_label(form.name, 'Название') }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_help(form.name) }}

                    {{ form_label(form.imageFile, 'Иконка') }}
                    {{ form_errors(form.imageFile) }}
                    {{ form_widget(form.imageFile) }}
                    {{ form_help(form.imageFile) }}
                    <br>
                    {{ form_label(form.iso, 'Iso-код') }}
                    {{ form_errors(form.iso) }}
                    {{ form_widget(form.iso) }}
                    {{ form_help(form.iso) }}

                    {{ form_label(form.symbolDesignation, 'Символьное отображение') }}
                    {{ form_errors(form.symbolDesignation) }}
                    {{ form_widget(form.symbolDesignation) }}
                    {{ form_help(form.symbolDesignation) }}

                    {{ form_label(form.decimals, 'Коллличество знаков после запятой') }}
                    {{ form_errors(form.decimals) }}
                    {{ form_widget(form.decimals) }}
                    {{ form_help(form.decimals) }}

                    {{ form_label(form.decimalSeparator, 'Разделитель точности') }}
                    {{ form_errors(form.decimalSeparator) }}
                    {{ form_widget(form.decimalSeparator) }}
                    {{ form_help(form.decimalSeparator) }}

                    {{ form_label(form.thousandSeparator, 'Розделитель тысячных') }}
                    {{ form_errors(form.thousandSeparator) }}
                    {{ form_widget(form.thousandSeparator) }}
                    {{ form_help(form.thousandSeparator) }}
                    <hr>
                    {{ form_row(form.save, {'label' : 'Добавить', 'attr' : {
                        'class' : 'btn btn-primary btn-lg'
                    }}) }}
                    {{ form_end(form) }}
                </div><!-- /.content-details -->
            </div>
        </div>
    </div>
{% endblock %}