{% extends 'base.html.twig' %}


    {% block header %}
    <header>
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-dollar-sign" style="color: gold;"></i>
            </button>
            <a class="navbar-brand exchange-logo" href="{{ path('main_index') }}">EXCHANGE</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" style="margin: 10px" href="{{ path('main_index') }}">Тарифы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="margin: 10px" href="{{ path('main_index') }}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="margin: 10px" href="{{ path('main_index') }}">Контакты</a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    {% if  is_granted('ROLE_USER') or is_granted('ROLE_OWNER') %}
                        <a href="{{ path('profile_index') }}" class="nav-link btn btn-outline-warning" style="margin: 10px;">Личный кабинет</a>
                        <a href="{{ path('fos_user_security_logout') }}" class="nav-link btn btn-outline-warning" style="margin: 10px;">Выйти</a>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('sonata_admin_dashboard') }}" class="nav-link btn btn-outline-warning" style="margin: 10px;">Панель администратора</a>
                        <a href="{{ path('fos_user_security_logout') }}" class="nav-link btn btn-outline-warning" style="margin: 10px;">Выйти</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="nav-link btn btn-outline-warning" style="margin: 10px;">Войти</a>
                        <a href="{{ path('fos_user_registration_register') }}" class="nav-link btn btn-outline-warning" style="margin: 10px;">Зарегистрироваться</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block footer %}
    <ul class="nav justify-content-center">
        <li>@ Copyright exchange-crm.valuta.kg</li>
    </ul>
{% endblock %}