{% extends "layouts/profile.layout.html.twig" %}

{% block stylesheet %}
    <style>
        .box-body .balance tr th, td {
            text-align: center;
        }

        .box-body .balance tr td input {
            width: 100px;
            padding: 2px 2px;
            font-weight: bold;
        }

        .balance table tr {
            font-size: 18px;
        }

        .balance table tr td.active-cashbox-balance input {
            border: 1px solid #a96d0e;
            background: #b7760d;
        }

        .balance textarea {
            width: 100%;
        }

        .balance .active-cashbox-balance {
            background: rgb(223, 138, 12);
            color: white;
        }

        .balance .active-cashbox-balance td {
            border-right: 1px solid #df8a0b !important;
        }

        .balance .active-cashbox-balance td input {
            background: #ad6d0d;
            border: 1px solid #df8a0b !important;
        }
        .form-check-input {
            margin-top: 0;
            margin-left: 0;
        }
        .money_operation .box-body tr th, td {
            text-align: center;
        }

        .money_operation  td.sale, th.sale, td.sale input {
            background: #4cd0936b;
        }

        .money_operation td.purchase, th.purchase, td.purchase input {
            background: #0087a94d;
        }

        .money_operation td.currency, th.currency, td.currency input {
            background: #e9fb1e8c;
        }

        .money_operation .box-body tr td input {
            width: 80px;
            border: 1px solid #5cb599;
            padding: 2px 2px;
            font-weight: bold;
        }

        .money_operation table tr {
            font-size: 17px;
        }

        .money_operation table tr td.active-cashbox {
            background: #f39c12 !important;
            color: white;
            border-right: 1px solid #f39c11;
            border-top: 3px solid #ce8510;
            border-bottom: 3px solid #ce8510;
        }

        .money_operation table tr td.active-cashbox input {
            border: 1px solid #a96d0e;
            background: #b7760d;
        }

        .money_operation textarea {
            width: 100%;
        }

        .money_operation .discount input {
            float: left;
            border-right: none !important;
        }

        .money_operation .discount input + button {
            background: white;
            padding: 2px 11px;
            cursor: pointer;
            margin: 0 !important;
            display: list-item;
            font-size: 13px;
            border-radius: 0;
            border: 1px solid #dadada;
        }

        .money_operation .DefaultCurrency {
            color: #55840b;
            font-weight: bold;
            font-size: 24px;
        }

        .money_operation .discount_active {
            background: #e8e8e8 !important;
            color: black;
            box-shadow: inset 1px 2px 6px 4px #bbbbbb;
            border: 1px solid #dadada;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Управление обменным пунктом</h4><!-- /.content-title -->
                    <div class="float-right">
                        <a href="{{ path('profile_exchange_office_index') }}"
                           class="btn btn-primary">
                            Список обменных пунктов <i class="fa fa-fw fa-list"></i>
                        </a>
                        <a href="{{ path('profile_exchange_office_create') }}"
                           class="btn btn-success">
                            Добавить обменный пункт <i class="fa fa-fw fa-plus"></i>
                        </a>
                    </div><!-- /.corner-content -->
                    <div class="clearfix"></div>
                </div><!-- /.content-head -->
                <div class="content-details show">
                    <!-- general form elements disabled -->
                    <div class="box box-warning">
                        <div class="box-header">
                            <ul class="nav nav-tabs" id="exchangeOfficeTabMenu" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="monetaryOperations-tab" data-toggle="tab" href="#monetaryOperations"
                                       role="tab"
                                       aria-controls="contact" aria-selected="true">Работа с обменным пунктом</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="currencyRate-tab" data-toggle="tab" href="#currencyRate"
                                       role="tab"
                                       aria-controls="contact" aria-selected="false">Курсы валют</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="cashbox-tab" data-toggle="tab" href="#cashbox" role="tab"
                                       aria-controls="profile" aria-selected="false">Валютные кассы и баланс</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="exchangeOffice-tab" data-toggle="tab"
                                       href="#exchangeOffice" role="tab"
                                       aria-controls="exchangeOffice"
                                       aria-selected="false">Информация об обменном пункте</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="tab-content" id="exchangeOfficeTabContent">
                                <div class="tab-pane fade" id="exchangeOffice" role="tabpanel"
                                     aria-labelledby="exchangeOffice-tab">
                                    {% include 'profile/exchange_office/tabs/exchange_office_tab.html.twig' %}
                                    <!-- Modal -->
                                    <div class="form-staff">
                                        {{ include('profile/components/forms/modal_form_staff.html.twig', {'permissionGroups' : permissionGroups}) }}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="cashbox" role="tabpanel" aria-labelledby="cashbox-tab">
                                    {% include 'profile/exchange_office/tabs/balance_tab_html.twig' %}
                                </div>
                                <div class="tab-pane fade" id="currencyRate" role="tabpanel"
                                     aria-labelledby="currencyRate-tab">
                                    Курсы валют
                                </div>
                                <div class="tab-pane fade in active show" id="monetaryOperations" role="tabpanel" aria-labelledby="monetory_operations-tab">
                                    {% include 'profile/exchange_office/tabs/monetary_operations.html.twig' %}
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div><!-- /.content-details -->
            </div>
        </div>
    </div>
{% endblock %}

{% block Javascript %}

    <script type="text/javascript">
        $(function () {
            /** --------------------------Exchange Office----------------------------- **/

            $('.multipleSelectStaffs').fastselect();
            $('.multipleSelectCurrencies').fastselect();
            let exchangeOfficeSubmitMessage = $('.exchangeOfficeSubmitMessage');

            $('.exchangeOfficeSubmitForm').on('click', function (e) {
                e.preventDefault();
                let data = {};

                $.each($('#exchangeOfficeForm').find(':input, select'), function () {
                    if ($(this).is(':checkbox')) {
                        data[this.name] = $(this).is(':checked') ? 1 : 0;
                    } else {
                        data[this.name] = $(this).val();
                    }
                });

                console.log(data);

                $.post('{{ path('profile_exchange_office_edit_ajax') }}', data, function (data) {
                })
                    .done(function (data) {
                        let color = 'danger';
                        if (data.status) {
                            color = 'success';
                        }
                        exchangeOfficeSubmitMessage.empty();
                        exchangeOfficeSubmitMessage
                            .append('<p class="text-' + color + '">' + data.message + '</p>');
                        console.log(data);
                    })

                    .fail(function () {
                        exchangeOfficeSubmitMessage.empty();
                        exchangeOfficeSubmitMessage
                            .append('<p class="text-danger">Ошибка сервера</p>');
                        console.log(data);
                    });
            });

            $('.add_staff').on('click', function (e) {
                e.preventDefault();
            });

            $('.submit-staff-btn').on('click', function (e) {
                e.preventDefault();
                let data = {};

                $.each($('.modal-form-staff').find(':input, select'), function () {
                    if ($(this).is(':checkbox')) {
                        data[this.name] = !!$(this).is(':checked');
                    } else {
                        data[this.name] = $(this).val();
                    }
                });

                console.log(data);

                $.post('{{ path('profile_staff_create_ajax') }}', data, function (response) {
                    console.log(response);
                    $('.close').trigger('click');
                    $('.modal-form-staff').each(function () {
                        this.reset();
                    });
                    $('#selectStaffs')
                        .append("<option value='"
                            + response.staffData.id + "'>"
                            + response.staffData.fullname + "</option>");

                    $('.fstResults').append("<span class='fstResultItem'>" + response.staffData.fullname + "</span>");

                });

            });

            $.getScript("/js/exchange_offices.js", function () {
                balance("{{ exchangeOffice.id }}", "{{ path('profile_monetary_operations_balance_change') }}");
                moneyOperation("{{ path('profile_monetary_operations_create') }}","{{ exchangeOffice.id }}")
            });

            $(".created-VIP").on('click', function () {
                $('.modal-form-vip-client').each(function () {
                    this.reset();
                });

                $(".submit-vip-btn")
                    .addClass("submit-create-vip-btn")
                    .html("Добавить");
            });

            $(document).on('click', '.submit-create-vip-btn', function () {

                var fullName = $('#fullName').val();
                var email = $('#email').val();
                var phone = $('#phone').val();

                var data = {
                    fullName: fullName,
                    email: email,
                    phone: phone
                };

                $.post('{{ path('profile_vip_client_create_ajax') }}', data, function (response) {
                    console.log(response);
                    $('.close').trigger('click');
                    $('.modal-form-vip-client').each(function () {
                        this.reset();
                    });
                    var select = $('#vip_client_id');
                    select.append('<option value="' + response.id + '">' + response.fullname + '</option>')


                });
            });
        });
    </script>
{% endblock %}