{% extends "layouts/profile.layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Управление обменными пунктами</h4><!-- /.content-title -->
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OWNER') %}
                        <div class="float-right">
                            <a href="{{ path('profile_exchange_office_create') }}">
                                <button type="button" class="btn btn-success">
                                    <i class="fa fa-plus-square"></i> Добавить
                                </button>
                            </a>
                        </div><!-- /.corner-content -->
                        <div class="clearfix"></div>
                    {% endif %}
                </div><!-- /.content-head -->
                <div class="content-details show">
                    <table id="data-table" class="table data-table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>#id</th>
                            <th>Наименование</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Владелец</th>
                            {% endif %}
                            <th>Активировать</th>
                            <th>Адрес</th>
                            <th>Действие</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for exchangeOffice in exchangeOffices %}
                            <tr>
                                <td>{{ exchangeOffice.id }}</td>
                                <td>{{ exchangeOffice.name }}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>{{ exchangeOffice.user.fullName }}</td>
                                {% endif %}
                                {% if (exchangeOffice.active) %}
                                    <td>Работает</td>
                                {% else %}
                                    <td>Не работает</td>
                                {% endif %}
                                <td>{{ exchangeOffice.address }}</td>
                                <td>
                                    <a href="{{ path('profile_exchange_office_detail',{'id' : exchangeOffice.id }) }}"
                                       class="btn btn-primary"
                                       title="Управление обменным пунктом {{ exchangeOffice.name }}">Управление
                                        обменным пунктом <i class="fa fa-cogs"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Нет данных</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div><!-- /.content-details -->
            </div>
        </div>

    </div>
{% endblock %}