{% extends "profile.layout.html.twig" %}
{% block content %}

    <section class="content-header">
        <h1>
            Управление обменными пунктами
            <small>Список</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OWNER') %}
                        <div class="box-header">
                            <h3 class="box-title">
                                <a href="{{ path('profile_exchange_office_create') }}" class="btn btn-block btn-success btn-lg">
                                    Добавить
                                </a>
                            </h3>
                        </div>
                    {% endif %}
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#id</th>
                                <th>Наименование</th>
                                <th>Активировать</th>
                                <th>Адрес</th>
                                <th>Телефоны</th>
                                <th>Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for exchangeOffice in exchangeOffices %}
                                <tr>
                                    <td>{{ exchangeOffice.id }}</td>
                                    <td>{{ exchangeOffice.name }}</td>
                                    {% if (exchangeOffice.active == 1) %}
                                    <td>Работает</td>
                                    {% else %}
                                    <td>Не работает</td>
                                    {% endif %}
                                    <td>{{ exchangeOffice.address }}</td>
                                    <td>{{ exchangeOffice.contact }}</td>
                                    <td>
                                        <a href="{{ path('profile_exchange_office_detail',{'id' : exchangeOffice.id }) }}" class="btn btn-default"  title="Просмотреть запись {{ exchangeOffice.name }}">Просмотр <i class="fa fa-fw fa-eye"></i></a>
                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OWNER') %}
                                            <a href="{{ path('profile_exchange_office_edit', {'id' : exchangeOffice.id }) }}" class="btn btn-primary"  title="Редактировать запись {{ exchangeOffice.name }}"> Редактировать <i class="fa fa-fw fa-pencil"></i></a>
                                        {% endif %}
                                        <a href="{{ path('profile_monetary_operations',  {'id' : exchangeOffice.id }) }}" class="btn btn-warning" title="Просмотреть курс валюты {{ exchangeOffice.name }} "> Покупка и Продажа <i class="fa fa-usd" aria-hidden="true"></i> <i class="fa fa-rub" aria-hidden="true"></i> <i class="fa fa-eur" aria-hidden="true"></i></a>

                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>Нет данных</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>


{% endblock %}