{% extends "layouts/profile.layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Добавление VIP клиента</h4><!-- /.content-title -->
                </div><!-- /.content-head -->
                <div class="content-details show">
                    {{ form_start(form) }}

                    {{ form_label(form.fullName, 'ФИО') }}
                    {{ form_errors(form.fullName) }}
                    {{ form_widget(form.fullName) }}
                    {{ form_help(form.fullName) }}

                    {{ form_label(form.email, 'E-mail') }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_help(form.email) }}

                    {{ form_label(form.phone, 'Контакты') }}
                    {{ form_errors(form.phone) }}
                    {{ form_widget(form.phone) }}
                    {{ form_help(form.phone) }}


                    <hr>
                    {{ form_widget(form.save, {'label' : 'Добавить', 'attr' : {
                        'class' : 'btn btn-primary btn-lg'
                    }}) }}
                    {{ form_end(form) }}
                </div><!-- /.content-details -->
            </div>
        </div>
    </div>
{% endblock %}