{% extends "layouts/profile.layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Данные VIP клиента</h4><!-- /.content-title -->
                </div><!-- /.content-head -->
                <div class="content-details show">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ vipClient.fullname }}</h3>
                    </div>
                    <p>E-mail: {{ vipClient.email }}</p>
                    <br>
                    <p>Номер телефона: {{ vipClient.phone }}</p>
                    <br>
                    <p>Время создания: {{ vipClient.createdAt|date('d-m-Y') }}</p>
                    <br>
                    <p>Время обновления: {{ vipClient.updatedAt|date('d-m-Y') }}</p>
                    <br>
                    {#{% if (officeRepository.active) %}#}
                    {#<p>Активность:  работает</p>#}
                    {#{% else %}#}
                    {#<p>Активность:  не работает</p>#}
                    {#{% endif %}#}
                </div><!-- /.content-details -->
            </div>
        </div>
    </div>
{% endblock %}

