{% extends "profile.layout.html.twig" %}
{% block content %}
    <section class="content-header">
        <h1>
            Управление VIP клиентами
            <small>Список</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <a href="{{ path('profile_vip_client_create') }}" class="btn btn-block btn-success btn-lg">
                                Добавить
                            </a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#id</th>
                                <th>ФИО</th>
                                <th>E-mail</th>
                                <th>Номер телефона</th>
                                <th>Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vipClient in vipClients %}
                                <tr>
                                    <td>{{ vipClient.id }}</td>
                                    <td>{{ vipClient.fullName }}</td>
                                    <td>{{ vipClient.email }}</td>
                                    <td>{{ vipClient.phone }}</td>
                                    <td>
                                        <a href="{{ path('profile_vip_client_detail', {'id' : vipClient.id}) }}" class="btn btn-default"  title="Просмотреть запись {{ vipClient.fullName }}">Просмотр <i class="fa fa-fw fa-eye"></i></a>
                                        <a href="{{ path('profile_vip_client_edit', {'id' : vipClient.id }) }}" class="btn btn-primary" title="Редактировать запись {{ vipClient.fullName }}"> Редактировать <i class="fa fa-fw fa-pencil"></i></a>

                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>Нет данных</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
